:root {
    --color-primary:#d73953;
    --color-black:#090909;
    --color-white:#ffffff;
    --color-light-grey:#f3f3f3;
    --color-dark-grey:#353535;
    --text-color: #090909;
}

.section-tagline {
    color: var(--color-primary);
}

.card-category {
    color: var(--color-primary);
}

body {
    color: var(--text-color);
}

a {
    color: var(--text-color);
}
