:root {
    --color-primary:#d73953;
    --color-black:#090909;
    --color-white:#ffffff;
    --color-light-grey:#f3f3f3;
    --color-dark-grey:#353535;
    --text-color: #090909;
}

.p .section-tagline {
    color: var(--color-primary);
}

.p .card-category {
    color: var(--color-primary);
}

body, a {
    color: var(--text-color);
}
